<h2><%= title %></h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach((item)=>{ %>
            <tr>
              <td><%= item.name %></td>
              <td>$<%= parseFloat(item.value).toFixed(2) %></td>
              <td><%= item.createdAt %></td>
              <td>
                <a href="/dashboard/<%= title.toLowerCase() %>/edit/<%= item.id %>" class="btn btn-primary">Edit</a>
                <% if(title=="Revenues"){ %>
                  <a href="" onclick="removeRev(<%= item.id %>)" class="btn btn-danger" >Remove</a>
                <% } else if(title=="Expenses"){%>
                  <a href="" onclick="removeExp(<%= item.id %>)" class="btn btn-danger" >Remove</a>
                <% } %>
              </td>
            </tr>
          <% }) %>  
        </tbody>
      </table>
    </div>
    <script>
      function removeRev(id){
        console.log("entered function")
          if(confirm("Are you sure you want to remove this item?")){
              fetch(`/dashboard/revenues/remove/${id}`, {method: "POST", })
              .then(function(response){
                  document.location.reload();
                  });
          }
      }
      function removeExp(id){
        if(confirm("Are you sure you want to remove this item?")){
              fetch(`/dashboard/expenses/remove/${id}`, {method: "POST", })
              .then(function(response){
                  document.location.reload();
                  });
          }
      }
  </script>